pre {
	border-left: 5px solid gray;
	padding-left: 10px;
}

h1 {
	color: #F29105;
}

h2, h3 {
	color: #000;
}

body {
	font-size: 20px;
	color: #515151
}

.center {
	padding: 10%;
	text-align: left;
}

.image-container {
    text-align: center;
    margin-top: 50px;
}

.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.quote {
	font-size: 15px;
	font-style: italic;
}

.text-center-align-right {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid gray;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #007bff;
}

